<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sabores</title>
    <link rel="shortcut icon" href="img/favicon.webp" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://kit.fontawesome.com/c5dc02393b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Josefin+Sans&family=Koulen&family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="menu-ham menu-off"></div>
    <header id="header"></header>
    <div id="app">
      <div class="tipos">
        <img src="img/type1.webp" alt="" @click="section = 'og' " />
        <img src="img/type2.webp" alt="" @click="section = 'ultra' " />
        <img src="img/type3.webp" alt="" @click="section = 'juiced' " />
        <img src="img/type4.webp" alt="" @click="section = 'rehab' " />
        <img src="img/type5.webp" alt="" @click="section = 'hydrosport' " />
        <img src="img/type6.webp" alt="" @click="section = 'espresso' " />
      </div>
      <div class="container-vue">
        <div
          class="card"
          v-for="monster in datos"
          v-if="monster.category == section"
        >
          <p class="monster-name">{{monster.name}}</p>
          <img :src="monster.imglogo" :alt="monster.name" class="logo-img" />
          <img :src="monster.imgcan" :alt="monster.name" class="lata-img" />
          <p class="monster-desc">{{monster.desc}}</p>
          <p class="monster-sabor">Sabor: {{monster.flavour}}</p>
        </div>
      </div>
    </div>

    <footer id="footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
